@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);


body {
    font-family: Michroma, arial;
    background: linear-gradient(90deg, #3431ff 0%, #0c0c0c 100%);
}

.card {
    box-shadow: 5px 5px 10px 1px #000;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link.active {
    color: rgb(153, 153, 153);
}

.card {
    background: linear-gradient(90deg, #0c0c0c 0%, #3431ff 100%);
    color: aqua;
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255);
}

.sidebar {
    background: linear-gradient(90deg, #0c0c0c 0%, #3431ff 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text {
    color: aquamarine;
    margin: auto auto;
}

footer {
    background-color: black;
}

footer .container-fluid p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: rgb(148, 148, 148);
}

.footer-text {
    margin: auto auto;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.helper p {
    color: aquamarine;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

.btn-outline-primary{
    background: linear-gradient(90deg, #0c0c0c 0%, #3431ff 100%);
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
